<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd ">
                    <div class="container columns is-centered">
                    <figure class="image">
                        <img class="is-rounded" style="width: 200%" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                </div></div>
            <br/><br/><br/>
                <div class="columns">
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd ">
                    <p>{{site.author-about}}</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                Us</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog" style="padding-left: 504px"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Blog</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>