<section class="is-fullheight has-text-centered " style="background-image: url(assets/images/TRF-Hintergrund-XL.jpg)" id="media">
    <br/>
    <br/>
    <div class="hero-body3">
        <div class="container" >
            <div class="columns">
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd ">

                        <div class="container columns is-centered">
                            <figure>
                                <iframe width="440" height="280" src="https://www.youtube.com/embed/bViGE8W3afc" frameborder="0" allowfullscreen></iframe>
                            </figure>
                    </div>

                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd ">
                    <div class="container columns is-centered">
                        <figure>
                            <iframe width="440" height="280" src="https://www.youtube.com/embed/7IVTWl9qB1k" frameborder="0" allowfullscreen></iframe>
                        </figure>
                </div>
         </div>
               
                         <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd ">
                    <div class="container columns is-centered">
                        <figure>
                            <iframe width="440" height="280" src="https://www.youtube.com/embed/z0_ylnft54w" frameborder="0" allowfullscreen></iframe>
                        </figure>
                </div>

               </div>      
               
               <!-- 
  <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd ">
                    <div class="container columns is-centered">
                        <figure>
                            <iframe width="440" height="280" src="//www.youtube.com/embed/oGPWMZEQVO8" frameborder="0" allowfullscreen></iframe>
                        </figure>
                </div><iframe width="1712" height="859" src="https://www.youtube.com/embed/bViGE8W3afc" title="THE ROYAL FLASH - &quot;Hymn&quot; LIVE - Glowing Ember Festival, Helvete, Oberhausen 22.03.2025" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div><iframe width="1712" height="859" src="https://www.youtube.com/embed/z0_ylnft54w" title="THE ROYAL FLASH - &quot;Destiny&quot; LIVE - Glowing Ember Festival, Helvete, Oberhausen 22.03.2025" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            
      <!--          <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd ">
                    <div class="container columns is-centered">
                        <figure>
                            <iframe width="440" height="280" src="//www.youtube.com/embed/69aIjNRbAkQ" frameborder="0" allowfullscreen></iframe>
                        </figure>
                </div>
                </div> -->
            </div>
            
                </div>
            </div>
            <br/>
            <br/>
</section>


